/*******************************

	STATUS
	
	Creates lovely status bar messages.

*******************************/

#statusbar a {
	color: inherit;
	font-weight:bold;
}

#statusbar ul {
	margin-left:1em;
}

#statusbar .help,
#statusbar .messages
{
	padding:10px 10px 10px 4.45%;
	margin-bottom:12px;
	min-height:20px;
}

#statusbar .help {
	background:#f0f7ff url(../img/ico_help.gif) no-repeat 0.7% center;
	border:1px solid #b8caef;
	color:#135ca7;
	padding-right:50px;
	position:relative;
}

.help p {
	margin-bottom:10px;
}

.help .more-help-link {
	position:absolute;
	bottom:2px;
	right:10px;
}

#statusbar div.pinned {
	background-position:0.7% 15px !important;
}

#statusbar .error {
	background:#ffc8c8 url(../img/ico_error.gif) no-repeat 0.7% center;
	border:1px solid #c08888;
	color: #582008;
}

#statusbar .status {
	background:#d6ffc8 url(../img/ico_status.gif) no-repeat 0.7% center;
	border:1px solid #bbd2a9;
	color: #1a3e04;
}



#statusbar .warning, div.warning {	
	background:#fffad7 url(../img/ico_warning.gif) no-repeat 0.7% center;
	border:1px solid #cec3bc;
	color: #93430c;
	margin-top:0;
}

div.warning {
	margin:20px 0;
	padding:5px;
}


/* Classes for tables */

tr.error {
	background:#ffc8c8 !important;
}

tr.ok {
	background:#d6ffc8 !important;
}

tr.warning {
	background:#fffad7 !important;
}